{% comment %}
You shouldn't have to edit this page very often. But if you want
to modify some of the meta-data for the site, this is the place to do it.
{% endcomment %}

<head>
  <!-- Basic Page Needs
    ================================================== -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Specific Metas
    ================================================== -->
  <meta name="HandheldFriendly" content="True" />
  <meta name="MobileOptimized" content="320" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Title and meta description
    ================================================== -->
  <title>{{title}}</title>
  <meta property="og:title" content="{{title}}" />
  <meta name="description" content="{{description}}" />
  <meta property="og:description" content="{{description}}" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@{{site.twitter}}" />
  <meta name="twitter:title" content="{{title}}" />
  <meta name="twitter:description" content="{{description}}" />

    {% if project.environment == 'prod' %}
      <base href="https://weisscenter.github.io/product-landing/">
    {% elsif project.environment == 'dev' %}
      <base href="https://weisscenter.github.io/product-landing/dev/">
    {% else %}
      <base href="http://localhost:8080/product-landing/">
    {% endif %}



  <meta property="og:type" content="article" />
  <link rel="canonical" href="{{ url }}" />
  <meta property="og:url" content="{{ url }}" />
  <script async="" src="{{ assetPaths['uswds.js'] }} "></script>
  <!-- CSS
    ================================================== -->
    <link rel="preload" as="style" href="{{ assetPaths['styles.css'] }}" />
    <link rel="stylesheet" href="{{ assetPaths['styles.css'] }}" type="text/css" />
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script type="module" src="static/a11yWidget/index.js"></script>
</head>
