<section class="grid-container usa-section usa-prose {{newsletter.data.background}}">

    <div class="grid-row flex-justify">

        <div class="tablet:grid-col-7 order-last">


     
      <span class="font-heading-lg text-uppercase margin-top-0 tablet:margin-bottom-0 text-bold text-primary-dark">{{newsletter.data.subtitle}}</span>
  
     <h2 class="font-heading-xl break-word margin-top-0 tablet:margin-bottom-0">{{newsletter.data.sectionTitle}}</h2>

      {{newsletter.templateContent}}
  
      <div class="grid-row grid-gap-lg">
  
        <form id="newsletterForm" class="grid-row width-full tablet:grid-gap-lg">
            <div class="tablet:grid-col-7 grid-col">
                <label class="usa-label" for="email">{{newsletter.data.email}}</label>
                <input class="usa-input maxw-full" id="email" type="email" required name="input-type-text" />
            </div>

            <div class="tablet:grid-col-3 flex-align-self-end tablet:margin-top-0 margin-top-1">
                <button disabled id="emailSubmitButton" class="usa-button width-full tablet:width-auto">{{newsletter.data.subscribe}}</button>
            </div>
          
        </form>
  
  
      </div>
  
  
  
     
      </div>
      {%if newsletter.data.image %}
        <div class="tablet:grid-col-4 usa-prose">
  
            <img class="" src="{{newsletter.data.image | url}}" alt="{{newsletter.data.alt}}">
        
      
          <!-- {% image_with_class "./_img/desktop-phone.svg" "" "Weiss Center Logo" %} -->
        </div>
      {%endif%}
    </div>
</section>


<script>
  const emailInput = document.getElementById("email");
  const emailSubmitButton = document.getElementById("emailSubmitButton");

  const newsletterForm = document.getElementById("newsletterForm");

  newsletterForm.addEventListener("submit", (event) => {
    

    event.preventDefault();
  })


  emailInput.addEventListener("input", (event) => {
    const value = event.target.value;

    emailSubmitButton.disabled = !(value.length && value.match(/^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/));
  })



</script>